*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing:border-box;
    text-decoration: none;
}

.header{
    position:fixed;
    width:100%;
    font-family: 'ubuntu','sans-serif';
    background: lightcoral;
    padding:  15px 0;
}
.container{
    max-width: 1300px;
    padding: 0 80px;
    margin:auto;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo a{
    color: #fff;
    font-size: 45px;
    font-weight:700;
}
.header .list li{
    list-style: none;
    display: inline-block;
}
.header .list li a{
    color:#fff;
    font-size: 18px;
    font-weight: 300;
    margin-left: 25px;

}
.home{
    display:flex;
    height:100vh;
    background-color:#1f1f21;
    color:#fff;
    min-height: 500px;
}

.home .container{
    margin:auto 0 auto 40px;
}
.myimg{
    top:5em;
}
.home .content-home .text01{
    font-size: 27px;
}
.home .content-home .text02{
    font-size: 75px;
    font-weight: 600;
    margin-left: -5px;
}
.home .content-home .text03{
    font-size: 40px;
    margin: 5px 0;
}