*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    color: #fff;
    background: #1f1f1f;
    
}

.nav {
    top: 0;
    left: 0; /* Change 'right' to 'left' */
    margin: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 10px 8%;
    background: transparent;
    transition: all ease .45s;
    background-color: #ffae00;
}

.logo{
    color: #fff;
    font-size: 40px;
    font-weight:600;
}
.logo span{
    color: #3b3b3b
}
.navbar{
    display:flex;
    flex-direction: row;
}

.navbar a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    margin:0 18px;
    transition: all ease .50s;
}
.navbar a:hover{
    color:#3b3b3b;
    font-weight: 600;
}

.navbar a.active{
    color:#3b3b3b;
}

#menu-icon{
    font-size: 25px;
    margin-right: 10px;
    z-index:6;
    color:#333; 
}


#menu-btn {
    cursor: pointer;
    align-items: center;
    display: none;
    z-index: 6;
    color: #333;
}

/* Additional styles for the menu button */



/* Media Query for Mobile and Tablet Views */
@media screen and (max-width: 768px) {

    .nav {
        max-width: 100vw; /* This limits the container to the visible viewport width */
        padding: 0;/* padding: 10px 5%; Adjust the padding for better mobile display */
    }
    
    /* Add max-width to the navbar container */
    .navbar {
        max-width: 100vw; /* This limits the container to the visible viewport width */
        /* Your existing styles for navbar */
    }
    

    #menu-btn{
        cursor: pointer;
        align-items: center;
        display: flex;
        z-index: 6;
        color: #333;
    }
   
    
    .navbar {
        display: none;
        position: absolute;
        top: 70px;
        left: 0; /* Change 'right' to 'left' */
        width: 100%;
        background-color: #ffae00;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: all ease .45s;
    }

    .navbar.active {
        display: block; /* Show navbar when active class is added */
    }
    .logo{
        padding-right: 20%
    }
}



.home{
    position: relative;
    width: 100%;
    height:100vh;
    align-items: center;
    display: flex;
    justify-content:space-between;
   
}
.home-img{
    width:70%;
    height: 600px;  
}

.home-img img{
    width:100%;
    height:100%;
    padding-right:5em;
 
}
.home-text{
    padding-left:12%;
    padding-top: 5rem;
}


.home-text .text01{
    font-size:27px;
}
.home-text .text02{
    font-size: 75px;
    font-weight: 600;
    margin-left: -5px;
}
.home-text .text03{
    font-size: 40px;
    margin: 5px 0;
    margin-bottom: 20px;
}
.btn{
    background: #ffae00;
    color:#fff;
    border:2px solid #ffae00;
    border-radius: 8pxs;
    font-size: 15px;
    padding: 12px 0;
    display: inline-block;
    font-weight: 500;
    transition: all 0.6s ease-in-out;
}
.btn:hover{
    background: transparent;
    color:#ffae00;
}


/*styling about section*/
.aboutsection{
    background:#3b3b3b;
    padding: 40px 0;
    height:auto;
   
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.about-header{
    color:#fff;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    position: relative; 
    padding-top: 1em;  
}

.about-left{
    width:300px;
    height: 100%;
    margin-left: 8%;
    justify-content: flex-start;
}
.about-left img{
    width:100%;
    object-fit:contain; 
    align-items: center;
    
}
.about-right{
    width: 60%;
    height:auto;
    display:flex;
    align-items:center;
    right:auto;
    left:auto;
    justify-content:center;
    padding-right: 12%;
    margin-left: 8%;
    margin-top: 1em;
}
.about-span{
    font-size: 30px;
    color:#ffae00;
    font-weight: 400;
}
.about-right p{ 
    font-size:18px;
    width:80%;
    line-height: 2rem;
}



/*styling work section*/
.work{
    margin:20px;
    padding: 2% 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    height:auto;
    background-color: #333;
}

.work-header{
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
    margin-top:0;
    margin-bottom: 2rem;
    padding-top: 2em;
    padding-bottom: 0;
}
.work-buttons{
    margin-bottom:10px;
    display:flex;
    align-items:flex-start;
    justify-content: space-evenly;
}
#academic-box, #skills-box, #curriculum-box{
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

@media (max-width: 768px) {
    .work-buttons{
        display: block;
           }
    .work-buttons div{
        padding-top: 5px;
    }
}


.toggle-button{
    margin-right:6rem;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
    cursor:pointer;
    font-weight: 550;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ffae00;
    background-color: #ffae00;  
}

#academic-content{
    display:none;
    margin-top: 10%;
}
#academic-content ul li{
    color:#ffae00;
    font-weight: 500;
    font-size: 16px;
}
#academic-content ul p{
    font-size: 14px;
    margin-left: 5%;
}

#skills-content{
    display:none;
    margin-top:10%;
}
#skills-content ul li{
    color:#ffae00;
    font-weight: 500;
    font-size: 16px;
}
#skills-content ol li{
    color:#fff;
    list-style:disc;
    margin-left: 15%;
    font-size: 14px;

}
#curriculum-content{
    display:none;
    margin-top:10%;
}

#curriculum-content ul li{
    color:#ffae00;
    font-weight: 500;
    font-size: 16px;
}

#curriculum-content ul p{
    font-size: 14px;
    margin-left: 5%;
}
.academic-content p .skills-content p #curriculum-content p{
    color: #fff;
}

@media (max-width: 768px) {

    .home {
        flex-direction: column;
        width:100vw;
        height: auto;
    }

    .home-text{
        align-items: center;
        padding-left: 18%;
        padding-right: 12%;
    }
    .home-text .text02{
        font-size: 45px;
    }

    .home-text .text03{
        font-size: 20px;
    }

    .home-img{
        width:70%;
       height: auto;
    }
    .home-img img{
        width:100%;
        height:100%;      
    
    }
    .aboutsection{
        width:  100%;
        margin-top: 7%;
    }
    .about-left{
        padding-bottom: 15px;
       
       
    }
    .aboutsection img{
        justify-content: center; 
        align-items: center;         
    }

    .about-right{
        width:180%;
        height:auto; 
       padding-left: 8%;     
    }
    .about-span{
        font-size: 30px;
        color:#ffae00;
        font-weight: 400;
    }
    .about-right p{ 
        font-size:18px;
        width:100%;
        line-height: 2rem;
    }
    .work{
        margin-left: 0;
        margin-right: 0;     
        border: 1px solid #ccc;
        border-radius: 5px; 
        padding-top: 1em;   
        width: 100vw;    
    }
    
    .work-header{
        font-size: 40px;
        text-align: center;
        top:0;
       
    }
    
    .projects-container p{
        padding: 20px;
    } 
}

/*----styling projects--->*/

.projects{
    padding:2% 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display:flex;
}
.project-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:auto;
}

.projects-header{
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
    margin-top:0;
    margin-bottom: 2rem;
    padding-top: 2em;
}
.projects-container{
    width: 20%; /* Three cards in one row with spacing */
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 5px #333;
    height:auto;   
}

.project-img{
    height:50%;
    align-items: center;
    background-color: #fff; 
    width:100%;
}

.projects-content{
    padding: 10px;
    background-color: #333;
    height:50%;
}

.projects-content h3{
    text-align: center;
    color:#ffae00;
    font-size: 25px;
}
.projects-content p{
    font-size: 14px;
   
    margin-top: 1rem;   
    line-height: 1.5rem;
}

@media (max-width: 768px) {
    
    .project-section{
        display: block;
        width: 100vw;
    }
    .projects-container{
        width: 100%;
    }
}


  

/*----styling contacts---->*/
.contacts{
    margin:20px;
    padding: 2% 0;
    border-radius: 5px;
     
}
.contacts-header{
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
    margin-top:0;
    margin-bottom: 2rem;
}
.contacts-icons{
    justify-content:center;
    align-items: center;
    display: flex;
    padding-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#bottom-icon{
    cursor:pointer;
    font-size:70px;
    align-items:center;
    color:#fff;
    margin-right: 2em;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: #ffae00;
    color:black;
    text-align: center;
    font-weight: 700;
    padding: 1% 0 1% 0;
}

@media (max-width: 768px) {
    .contacts-icons{
        display: block;
    }
    #bottom-icon{
        padding-top: 10px;
    }
}

